@charset "UTF-8";

.component-toast{

	.toast-bg{
		width: 100%;
		text-align: center;
		position: fixed;
		bottom: 50px;

		.toast-box{
			padding: 0 20px;
			min-width: 150px;
			height: 30px;
			line-height: 30px;
			border-radius: 4px;
			background-color: rgba(216, 216, 216, 0.7);
			color: #ffffff;
			font-size: 14px;
			display: inline-block;
		}
	}
}

