@charset "UTF-8";

.page-order-confirm{
	
	.page-content{
		
		.menu{
			box-shadow: none;
			
			.list{
				border-bottom: 1px solid #f6f6f6;
				
				.menu-header{
					border-bottom: 1px solid #f6f6f6;
				}
				
				.item-list{
					margin-bottom: .4rem;
				}
				
				.item-count{
					font-size: .6rem;
					color: #333333;
					padding: .5rem .5rem;
					
					.label{
					
					}
					
					.data{
						float: right;
					}
				}
			}
			
		}
		
		.confirm-form{
			padding: 0 .5rem 2rem .5rem;
			
			.tip{
				font-size: .6rem;
				color: #ff0000;
				text-align: center;
				padding: .7rem 0 .6rem 0;
				
				&::before{
					content: " ";
					display: inline-block;
					height: .6rem;
					width: .6rem;
					background: url("../../img/order/order_confirm_tip_cion.png") center no-repeat;
					background-size: contain;
					margin: -.1rem .3rem 0 0;
					vertical-align: middle;
				}
			}
			
			.confirm-input{
				display: block;
				width: 100%;
				background: #FFFFFF;
				text-align: center;
				border-radius: .85rem;
				height: 1.7rem;
				border: 1px solid #e5e5e5;
				margin-bottom: .6rem;
				font-size: .6rem;
				
				&.confirm-textarea{
					height: 5rem;
					border-radius: .3rem;
					resize: none;
					text-align: left;
					padding: .3rem;
				}
			}
			
			.service{
				color: #ffaca3;
				font-size: .6rem;
				text-align: right;
				
				&.bold{
					font-weight: bold;
					margin-bottom: .3rem;
				}
			}
		}
	}

}