@charset "UTF-8";
@import "../Public";

.page-order-detail{
	
	.page-content{
		color: #333333;
		padding: .5rem .5rem 2.5rem .5rem;
		
		.header{
			position: relative;
			padding: .3rem 0;
			
			.head{
				display: inline-block;
				position: absolute;
				left: 0;
				height: 2.5rem;
				width: 2.5rem;
				border-radius: 50%;
			}
			
			.name{
				padding-left: 3rem;
				font-size: .7rem;
				font-weight: bold;
				margin: .3rem 0;
			}
			
			.duty{
				padding-left: 3rem;
				font-size: .55rem;
			}
			
			.contract-btn{
				border: 1px solid #f6f6f6;
				line-height: 1.2rem;
				width: 5rem;
				border-radius: .6rem;
				text-align: center;
				position: absolute;
				font-size: .6rem;
				color: #ff0000;
				right: 0;
				top: 1rem;
			}
		}
		
		.menu{
			border-bottom: 1px solid #f6f6f6;
			padding-bottom: .5rem;
			margin-bottom: .5rem;
		
			.list{
				padding-top: .5rem;
				
				.menu-header{
					border-bottom: 1px solid #f6f6f6;
					
					.title{
						font-weight: bold;
						font-size: .8rem;
						line-height: 1.8rem;
						display: block;
					}
				}
				
				.item-list{
					padding-top: .3rem;
					
					.item{
						font-size: .6rem;
						line-height: 1.4rem;
						overflow: hidden;
						
						.item-title{
							@include my-oneLine();
							width: 8rem;
							padding-right: 1rem;
							display: inline-block;
							float: left;
						}
						
						.item-money{
							color: #ff2f00;
							display: inline-block;
							float: left;
							
							.unit{
							
							}
						}
						
						.counter-num{
							display: inline-block;
							float: right;
						}
					}
				}
			}
		}
		
		.info-group{
			font-size: .6rem;
			color: #333;
			padding-bottom: 2rem;
			
			.info-line{
				padding: 0.3rem 0;
			
				.label{
					color: #272727;
				}
				
				.info{
					float: right;
				}
				
				.key-point{
					color: #ff0000;
					padding-top: .3rem;
					
					.btn{
						float: right;
						border: 1px solid #f6f6f6;
						line-height: 1.2rem;
						width: 5rem;
						border-radius: .6rem;
						text-align: center;
						position: relative;
						top: -.3rem;
					}
				}
			}
			
			.remark{
				color: #999999;
				margin: .5rem 0 1rem 0;
				padding: .4rem;
				font-size: .5rem;
				min-height: 5rem;
				border: 1px solid #f6f6f6;
			}
			
			.service{
				color: #ffaca3;
				font-size: .6rem;
				text-align: right;
				
				&.bold{
					font-weight: bold;
					margin-bottom: .3rem;
				}
			}
		}
	}
}