<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="logImpl" value="LOG4J" />
    </settings>

    <typeAliases>
        <typeAlias alias="Pageable" type="mvc.dao.pojo.Pageable"/>
        <typeAlias alias="Article" type="mvc.dao.pojo.Article"/>
        <typeAlias alias="User" type="mvc.dao.pojo.User"/>
        <typeAlias alias="Role" type="mvc.dao.pojo.Role"/>
        <typeAlias alias="JobType" type="mvc.dao.pojo.JobType"/>
        <typeAlias alias="ResourcesType" type="mvc.dao.pojo.ResourcesType"/>
        <typeAlias alias="Product" type="mvc.dao.pojo.Product"/>
        <typeAlias alias="ProductItem" type="mvc.dao.pojo.ProductItem"/>
        <typeAlias alias="Carousel" type="mvc.dao.pojo.Carousel"/>

        <typeAlias alias="Order" type="mvc.dao.pojo.Order"/>
        <typeAlias alias="ProductItemSnapshot" type="mvc.dao.pojo.ProductItemSnapshot"/>
    </typeAliases>

</configuration>